* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
h1 {
    font-weight: normal;
    font-size: 5rem;
}
#options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#options > button {
    cursor: pointer;
    background-color: #fafaa3;
    border: 1px solid black;
    padding: 4px 10px;
    border-radius: 3px;
    font-weight: bold;
}
#cartCt {
    width: 500px;
    background-color: #fafaa3;
    border: 1px solid black;
    border-radius: 3px;
    padding: 20px;
}
#cartCt > p {
    font-size: 1.5rem;
}
#cart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 20px;
}
#cart > div {
    border: 1px solid black;
    border-radius: 3px;
    padding: 4px 10px;
    cursor: pointer;
}
